* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}
.container-fluid {
    width: 410px;
    margin: 50px auto;
    padding: 10px;
}
.inputs {
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background: white;
}
.inputs input[type="text"] {
    height: 3.5rem;
    width: 20rem;
    background: black;
    font-size: 1.1rem;
    font-weight: bold;
    background: transparent;
    border: 2px solid black;
     border-radius: 2px;
     margin-right: 4px;
     padding: 10px;
}
.inputs input[type="submit"]{
    height: 3.2rem;
    width: 5.5rem;
    background: white;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
}
.display {
    text-align: center;
    width: 400px;
    color: black;
}
.wrapper {
    margin: 0 9rem;
    background: white;
    height: 45vh; 
    margin: 50px auto;
    border-radius: 2px;
    
}

