* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}
.container-fluid {
    width: 410px;
    margin: 50px auto;
    padding: 10px;
}
.inputs {
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background: white;
}
.inputs input [type="text"] {
    height: 3.5rem;
    width: 20rem;
    background: black;
    font-size: 1.1rem;
    font-weight: bold;
    background: transparent;

}
